<nav class="flex justify-between bg-nav h-20 w-full items-center px-14 shadow-md">
  
  <div class="flex items-center gap-2 font-bold text-xl text-texto">
    <ng-icon name="phosphorWallet" class="text-3xl"></ng-icon>
    Controle de Despesas
  </div>

  <div class="flex items-center gap-4">
    
    <app-botao variante="navbar">
      Inicio
    </app-botao>
    
    <app-botao variante="navbar">
      Despesas
    </app-botao>
    
    <app-botao variante="navbar">
      Relatórios (em breve)
    </app-botao>

    <app-botao variante="navbar">
      Configurações
    </app-botao>

    <div class="h-6 w-px bg-texto/20 mx-2"></div>
    
    <app-botao variante="navbar">
      <ng-icon name="phosphorMoon" class="text-lg"></ng-icon>
      Alternar Tema
    </app-botao>

  </div>

</nav>